img {
  width: 100%;
  height: auto;
}
* {
  line-height: 1.7;
}
a {
  text-decoration: none;
  color: inherit;
}
.menu {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  z-index: 1;
  position: sticky;
  left: 0;
  top: 0;
  background: #fff;
}
.header_logo {
  font-size: 25px;
}
.header-nav {
  display: block;
}
.header-nav_ul {
  display: flex;
  font-weight: bold;
}
.header-nav_list:not(:last-child) {
  margin-right: 30px;
}
.drawer-nav {
  display: none;
}
.contact {
  padding: 50px 0;
  background: rgb(243, 238, 238);
}
.contact_content {
  text-align: center;
}
.contact_ttl {
  font-size: 30px;
  margin: 20px 0;
}
.contant_btn {
  border: solid;
  font-weight: bold;
  background-color: rgb(206, 22, 22);
  color: #fff;
  text-align: center;
  margin: 30px auto 0;
  display: block;
  width: 300px;
  padding: 10px 0;
}
.contant_btn:hover {
  opacity: 0.5;
  transition: 0.4s;
}
.footer {
  padding: 20px 0;
  color: #fff;
  background: rgb(20, 20, 20);
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-nav_ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
.footer-nav_list {
  padding-right: 10px;
}
.footer-nav_list:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
.footer-nav_list:last-child:after {
  display: none;
}
.footer-nav_list:hover {
  opacity: 0.5;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    position: relative;
    right: 20px;
    top: 10px;
    z-index: 98;
    cursor: pointer;
  }
  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu-line-top {
    top: 0;
  }
  .menu-line-middle {
    top: 14px;
  }
  .menu-line-bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 0.7s;
    text-align: center;
  }
  .drawer-nav ul {
    padding-top: 80px;
  }
  .drawer-nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  .header-nav {
    display: none;
  }
  .firstview_catchcopy {
    font-size: 30px;
  }

  .copyright {
    margin: 0 auto;
    padding-left: 30px;
  }
  .footer-nav_list {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
  .footer-nav_list:after {
    display: none;
  }
}
