.firstview-page {
  min-height: 300px;
  background: url(../img/mv.png) center;
  background-size: cover;
  position: relative;
}
.firstview-page_content {
  position: absolute;
  top: 50%;
  left: 40%;
  color: #fff;
  text-align: center;
}
.firstview-page_catchcopy {
  font-weight: bold;
  font-size: 30px;
}
.contact-form {
  margin: 50px auto;
  width: 80%;
}

.contact-form-item-name {
  font-weight: bold;
}
.cotact-form-item-txt {
  margin-bottom: 10px;
  width: 100%;
}
.cotact-form-item-txt:focus {
  outline: solid 1px rgb(29, 27, 27);
}

.contact-form-item-name-required {
  color: red;
}
.cotact-form-item-submit {
  background: #000;
  color: #fff;
  padding: 5px 100px;
  font-weight: bold;
  display: block;
  margin: 10px auto;
}
